<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/night.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <title>Add a New Night Routine</title>
</head>
<body>
    <nav id="navigation-panel">
        <%- include('../partials/header.ejs') %> 
    </nav>
    <main>
        <h1>Add a New Night Routine:</h1>
        <form action="/night" method="POST">
            Category: <select name="category" id="night-category">
                <option value="Physical Health">Physical Health</option>
                <option value="Mental Health">Mental Health</option>
                <option value="Entertainment">Entertainmaint</option>
                <option value="Mindfulness">Mindfulness</option>
                <option value="Career">Career</option>
                <option value="Hobby">Hobby</option>
                <option value="Other">Other</option>
            </select>
            Routine: <input type="text" name="routine" />
            Affirmation: <input type="text" name="affirmation" />
            Days Completed: <input type="number" name="daysCompleted">
            <input type="submit" value="Create Night Routine" />
        </form>
    </main>
</body>
</html>