<header class="navigation-panel">
    <h1 id="navigation-header">
        <a href="/">Mindfull</a> <br>
    </h1>
    <h1>_______________</h1> <br>
    <a id="navitation-links" href="/morning">Morning Routine</a> <br>
    <a id="navitation-links" href="/night">Night Routine</a> <br>
    <a id="navitation-links" href="#">To-Do List</a> <br>
    <a id="navitation-links" href="#">Journal</a> <br>
</header>