<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Edit Your Journal Entry</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <h1>Edit Your Journal Entry</h1>
    <main>
        <h2>Journal Information</h2><br>
        <form action="/journal/<%= journal._id %>?_method=PUT" method="POST">
            Subject: <input type="text" name="subject" value="<%= journal.subject %>"><br>
            Body: <input type="text" name="body" value="<%= journal.body %>"><br>
        <input type="submit" value="Submit Changes" />
        </form>
    </main>
</body>
</html>