<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Journal Entry</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <form action="/journal" method="POST">
            Subject: <input type="text" name="subject"> <br>
            Body: <input type="text" name="body"> <br>
            <input type="submit" value="Submit Journal Entry">
        </form>
    </main>
</body>
</html>