<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Journal Entry</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <h1>Journal Entry</h1>
    <h2><%= journal.subject %></h2>
    <p><%= journal.body %> </p>
    
</body>
</html>