<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/morning.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
    <title>New Morning Routine</title>
</head>

<body>
    <nav id="navigation-panel">
        <%- include('../partials/header.ejs') %>
    </nav>
    <main>
        <h1>New Morning Routine:</h1>
        <br>
        <form action="/morning" method="POST">
            Category: <select id="create" name="category" id="morning-category">
                <option value="Physical Health">Physical Health</option>
                <option value="Mental Health">Mental Health</option>
                <option value="Entertainment">Entertainmaint</option>
                <option value="Mindfulness">Mindfulness</option>
                <option value="Career">Career</option>
                <option value="Hobby">Hobby</option>
                <option value="Other">Other</option>
            </select>
            <br>
            Routine: <input id="create" type="text" name="routine" /><br>
            Affirmation: <input id="create" type="textarea" name="affirmation" /><br>
            Days Completed: <input id="create" type="number" name="daysCompleted"><br>
            <input id="create-button" type="submit" value=" Create Morning Routine " />
        </form>
    </main>
</body>

</html>