<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>New To-Do List Item</title>
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <h1>Add a New Item to Your To-Do List:</h1>
        <form action="/todo" method="POST">
            Item: <input type="text" name="item"> <br>
            Priority: <select name="priority" id="todo-priority">
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select> <br>
            Notes: <input type="text" name="notes"> <br>
            <input type="submit" value="Add to To-Do List"> <br>
        </form>
    </main>
</body>
</html>